{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen w-full flex items-center justify-center">
    <div class="max-w-md">
        <h1 class="text-gray-700 text-3xl font-semibold text-center">Crëer hieronder een groep:</h1>
        <div class="flex items-center justify-center mt-6">
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}" class="text-gray-700">{{ field.html_name }}:</label>
                    {{ field }}
                </div>
                {% endfor %}

                <div class="flex justify-center">
                    <input class="mt-6 bg-gray-200 cursor-pointer hover:bg-green-400 hover:shadow-xl text-gray-700 focus:outline-none px-4 py-3 rounded-lg shadow-lg"
                           type="submit" value="Crëer!">
                </div>
            </form>
        </div>
    </div>

    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="fixed bottom-0 right-0 m-8 w-5/6 md:w-full puff-in-center max-w-sm flex justify-center items-center ">
                <label class="close cursor-pointer flex items-center justify-center w-full p-2 px-2 h-24 rounded shadow-lg bg-teal-200 text-center">
                    <a href="/house/{{ message }}">Groep gecreëerd! Klik hier om naar de overzichtspagina te gaan!</a>
                </label>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</div>
{% endblock %}