{% extends 'base_dashboard.html' %}

{% block dashboard %}
{% if groupMembers %}
{% for groupMember in groupMembers %}
<div class="bg-white shadow-lg rounded-lg max-h-md overflow-hidden w-128 h-96 sm:w-96 mx-12 my-8">
    <div class="flex justify-center">
        <img class="rounded-full object-cover w-32 h-32 my-8 mx-8"
             src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
             alt="{{ houseMate.naam }}">
    </div>
    <div class="px-6 py-4">
        <h1 class="text-2xl font-semibold text-gray-800">{{ groupMember.Naam }}</h1>
        <p class="text-lg text-gray-500 py-2">Aantal keer brak: {{ groupMember.Brakcounter }}</p>
        <p class="text-lg text-gray-500 py-2">Laatste keer brak: {{ groupMember.brak_set.first.Datum}}</p>
    </div>
</div>

{% endfor %}
{% endif %}

<!--    TODO Huisgenoten overview, toevoegen en updaten-->
<!--    TODO Statistieken overview-->
<!--    TODO BRAK Toevoegen-->
<!--    TODO Design bedenken voor nieuwe groepsgenoot.  -->
{% endblock %}