{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen w-full flex items-center justify-center">
    <div class="max-w-md">
        <h1 class="text-gray-700 text-6xl font-extrabold text-center">Wie is er brak?</h1>
        <h3 class="text-gray-400 text-2xl text-center">De tool om bij te houden wie er het vaakst brak is in je
            Huis/Commissie/Jaarclub/Dispuut</h3>
        <div class="flex justify-center">
            <button class="mt-10 shadow-lg bg-gray-200 rounded-lg px-4 py-3 hover:bg-green-400 focus:outline-none hover:shadow-xl">
                <a class="text-gray-700" href="/create">Crëer een groep!</a></button>
        </div>
    </div>
</div>
{% endblock %}